<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">

  <div class="container-fluid">
   
      <header class="block">
     
      
        <ul class="header-menu horizontal-list">
          <li>
            <a class="header-menu-img"  href="/admin"><span class="bi-bi-person-circle"></span> <i class="bi bi-person-circle"></i> Admin </a>
        </li>
       
            <li>
                <a class="header-menu-tab" href="/user"><span class="icon fontawesome-user scnd-font-color"></span>User</a>
            </li>
            <li>
                <a class="header-menu-tab" href="#3"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages</a>
                <a class="header-menu-number" href="#4">5</a>
            </li>
            <li>
     
                <a class="header-menu-tab" href="#"><span class="icon fontawesome-star-empty scnd-font-color"></span>Notification</a>
            </li>
            <li>
              <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
              <div class="user-profile float-end">
                <ul>
        
                </ul>
              </div>
          </li>
        </ul>
     
           
    </header>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-user navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Santhosh Giridara</a></li>
          <li><a href="#about"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<nav class="navbar-primary">
<a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
<ul class="navbar-primary-menu">
  <li>
    <ul>
      <li>
        <a href="" class="active"><span class="bi bi-house-gear-fill"></span><span>hom</span></a>
      </li>
      <li>
        <a href="/dashboard" class="active"><span class="bi bi-ui-checks-grid"></span><span>Dashboard</span></a>
      </li>
    
      <li>
                  
        <a href="/cours"><span class="bi bi-folder-plus"></span><span> Cours</span></a>
      </li>
      <li>
        <a href="/formation"><span class="bi bi-motherboard"></span><span> Formation </span></a>
      </li>
      <li>
        <a href="/formateur"><span class="bi bi-person-lines-fill"></span><span> formateur </span></a>
      </li>
      <li>
        <a href="/stage"><span class="bi bi-files"></span><span>Stage</span></a>
      </li>
      <li>
        <a href=""><span class="fa fa-registered"></span><span>Enregistrement</span></a>
      </li>

      <li>
        <a href=""><span class="fa fa-user"></span><span>Contacts</span></a>
      </li>
             
    </ul>

  </li>
</ul>
</nav>
