
   <title>  Admin </title>








  <header role="header">
    <!--début de header -->
	<i class="bi bi-person-circle"></i>
    <div class="debut">
	
	

      <h1> <strong>  Admin </strong></h1>
	  <h2>Centre Informatique du Ministère de la santé (CIMS)</h2>
	
    </div>
    <hr class="light">
  </header>
  <!--fin de header-->

  <main>
    <aside>
      <!-- début de section -->
      <article>
	
        <h2>Profil</h2>
    
        <p>Le Centre Informatique du Ministère de la santé (CIMS), crée par la loi n°92-19 du 3 Février 1992 en tant qu’établissement public à caractère non administratif relevant du Ministère de la santé</p>
      </article>
      <article>
        <div class="contact">
       
		

          <h2>Coordonnées</h2>
          <!-- liste des coordonnées -->
          <p><i class="fas fa-phone-square-alt"></i> (+216) 71 789 855 / +216 71 113 600 </p>
          <p><i class="fas fa-envelope" class="info"></i> admin@gmail.com</p>
          <p><i class="fas fa-home"></i> 1 rue de Liberia le Belvédère Tunis 1002 Tunisia</p>
		 


    <!--fin de section -->

  