body {margin:2em;}
td:last-child {text-align:center;}


a{
    color: #fff;
    border: #32eeee;
    background: #71e6e6ca;
    border-radius: 15px;
    width: 10%; 
    font-size: 23px;
    padding: 20px;
    height: 60px;
}
