<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centre Informatique du Ministère de la Santé CIMS | Tunis</title>
 

  </head>
  <body>
    <main class="container">
      <form>
       
        <input type="radio" name="slide" id="slide-1" title="Home" autofocus checked/>
        <input type="radio" name="slide" id="slide-2" title="About" autofocus/>
        <input type="radio" name="slide" id="slide-3" title="Nos missions" autofocus/>
        <input type="radio" name="slide" id="slide-4" title="Plugins" autofocus/>
        <input type="radio" name="slide" id="slide-5" title="Accés à l'information" autofocus/>
        <div class="label-wrapper">
        
          <label for="slide-1" id="slide-1" class="label-item">
            <div class="label-item-content">
              <h1>Centre Informatique du Ministère de la Santé CIMS | Tunis</h1>
              <span class="footnote"
                >Can use keyboard to move between pages!</span
              >
            </div>
          </label>

          <label for="slide-2" id="slide-2" class="label-item">
            <div class="label-item-content">
              <h1>About</h1>
              LE CIMS :
              
            </div>
          </label>
          <label for="slide-3" id="slide-3" class="label-item">
            <div class="label-item-content">
              <h1> Nos missions </h1>
            </div>
          </label>
          <label for="slide-4" id="slide-4" class="label-item">
            <div class="label-item-content">
              <h1>Plugins and Updated Technology</h1>
            </div>
          </label>
          <label for="slide-5" id="slide-5" class="label-item">
            <div class="label-item-content">
              <h1> Accés à l'information </h1>
            </div>
          </label>
  
        </div>
      
      </form>
    </main>
  </body>
</html>
