

    
    <table align="center" border="0" cellpadding="1" cellspacing="1" style="margin:0 auto;max-width:650px;width:95%;">
        <tbody>
            <tr>
                <td>
                <p style="text-align: center;"><span style="color:#0c05d1;"><span style="font-size:22px;"><span style="font-family:Montserrat-Light;"><strong> Centre Informatique du Ministère de la Santé</strong></span></span></span></p>
    
                <hr />
                <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!--Row1-->
    <div class="row">
       
    <!--Système d’Information de Gestion hospitalière-->  
    
          <div class="col-xs-12 col-sm-4">
                <p img class="img-responsive" style="text-align: center;"><a href="http://www.cims.tn/le-systeme-dinformation-de-gestion-hospitaliere-sigh/"><img alt="" src="/medias/project-manager.png" style="height: 160px; width: 160px;" /></a></p>
            <p style="text-align: center;"><font color="#0d2240" face="Montserrat-Light"><span style="font-size: 18px;"> SIM </span></font></p>
            </div>
      
    <!--ERP/CRM-->  
    
          <div class="col-xs-12 col-sm-4">
                <p img class="img-responsive" style="text-align: center;"><a href="http://www.cims.tn/le-systeme-dinformation-medico-administratif-sima/"><img alt="" src="/medias/erm-crm.png" style="height: 160px; width: 160px;" /></a></p>
            <p style="text-align: center;"><span style="font-family:Montserrat-Light;"><font color="#0d2240"><span style="font-size: 18px;"> SIMA </span></font></span></p>
            </div>
      
    <!--Métiers du web-->  
          <div class="col-xs-12 col-sm-4">
                <p img class="img-responsive" style="text-align: center;"><a href="http://www.cims.tn/le-systeme-dinformation-medico-economique-sime/"><img alt="" src="/medias/developer.png" style="height: 160px; width: 160px;" /></a>
            <p style="text-align: center;"><font color="#0d2240" face="Montserrat-Light"><span style="font-size: 18px;">SIME</span></font></p>
             </div>
          <!--End row-->
    </div>
    
    
    <!--Row2-->
    
    <div class="row">
      
      <!--Test & Recettes-->
      
          <div class="col-xs-12 col-sm-4">
    
                <p style="text-align: center;"><a href="http://www.cims.tn/systeme-dinformation-des-samu-si-samu/"><img alt="" src="/medias/recettes.png" style="height: 160px; width: 160px;" /></a></p>
          <p style="text-align: center;"><span style="font-family:Montserrat-Light;"><font color="#0d2240"><span style="font-size: 18px;">SI SAMU </span></font></span></p>
    </div>
           
    <!--Formateur-->
      
         <div class="col-xs-12 col-sm-4">
                <p style="text-align: center;"><a href="http://www.cims.tn/formation/"><img alt="" src="/medias/formateur_1.png" style="height: 160px; width: 160px;" /></a></p>
          <p style="text-align: center;"><font color="#0d2240" face="Montserrat-Light"><span style="font-size: 18px;">Formateur</span></font></p>
    </div>
          
      <!--Commerce-->
      
               <div class="col-xs-12 col-sm-4">
    
                <p style="text-align: center;"><a href="http://www.cims.tn/sipad-de-la-gouvernance-a-la-performance/"><img alt="" src="/medias/ecommerce.png" style="height: 160px; width: 160px;" /></a></p>
                <p style="text-align: center;"><font color="#0d2240" face="Montserrat-Light"><span style="font-size: 18px;"> SIPAD </span></font></p>
    </div>
        <!--End row-->
    </div>
          
    
    <!--Row3-->
    <div class="row">
    
    <!--Big data-->
                 <div class="col-xs-12 col-sm-4">
    
                <p style="text-align: center;"><a href="http://www.cims.tn/formations-en-ligne/"><img alt="" src="/medias/bi-big-data.png" style="height: 160px; width: 160px;" /></a></p>
      <p style="text-align: center;"><span style="font-family:Montserrat-Light;"><font color="#0d2240"><span style="font-size: 18px;"> ELEARNING CIMS</span></font></span></p>
      </div>
     
      <!--Reseaux-->
                 <div class="col-xs-12 col-sm-4">
    
                <p style="text-align: center;"><a href="http://www.cims.tn/securite-informatique/"><img alt="" src="/medias/reseaux_1.png" style="height: 160px; width: 160px;" /></a></p>
          <p style="text-align: center;"><span style="font-family:Montserrat-Light;"><font color="#0d2240"><span style="font-size: 18px;"> RÉSEAUX & SÉCURITÉ </span></font></span></p>
      </div>
      
     <!--Metier du web-->
                 <div class="col-xs-12 col-sm-4">
    
        <p style="text-align: center;"><a href="https://www.bubbleting.com/recherche.html?search=WEBDESIGNER"><img alt="" src="/medias/metier-du-web.png " style="height: 160px; width: 160px;" /></a></p>
                <p style="text-align: center;"><font color="#0d2240" face="Montserrat-Light"><span style="font-size: 18px;">FORMATION</span></font></p>
        
    
      <!--End row-->
                   </div>
      <br>
    <p><br />
   
    
    </div>
    